body {
  font-family: sans-serif;
}

input {
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 6px 16px;
}

.input-area {
  text-align: center;
  background-color: #c6e5d9;
  width: 400px;
  padding:8px;
  margin: 8px auto;
  border: 4px solid #aacfd0;
  border-radius: 8px;
}

.incomplete-area {
  border: 4px solid #aacfd0;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px auto;
  border-radius: 8px;
}

.complete-area {
  border: 4px solid #aacfd0;
  width: 400px;
  padding: 8px;
  margin: 8px auto;
  border-radius: 8px;
  background-color: #c9dede;
}

.title {
  text-align: center;
  margin: 0 0 16px 0;
  font-size: 1.5em;
  font-weight: bold;
  color: #666
}

.todo-item {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
  padding: 12px;
  background-color: #fff;
  border-radius: 4px;
  border: 4px solid #aacfd0;
}

.todo-item:hover {
  background-color: #f0f0f0;
}

.todo-text {
  flex-grow: 1;
  margin-right: 12px;
}
 
.delete-button {
  background: none;
  border: 2px solid #aacfd0;
  border-radius: 4px;
  cursor: pointer;
  padding: 4px 8px;
  color: rgb(63, 128, 128);
  transition: all 0.3s;
}

.delete-button:hover {
  background-color: #ffebee;
  color: #ff6f61;
  border-color: #ff6f61;
}